<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h2>This is Home Page</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, numquam hic dolorem quis culpa nulla
        accusamus molestias repellat dolore necessitatibus est, corrupti architecto doloremque, voluptas modi animi?
        Fuga numquam enim asperiores eos nam id perspiciatis ipsa voluptas, voluptate, corrupti dignissimos consequuntur
        tempora nulla perferendis recusandae excepturi nobis sequi, dolorum voluptatum harum non atque nihil? Totam
        voluptatem itaque quos nulla maiores! Exercitationem quisquam tempore odio sint iste error nihil libero, numquam
        veniam reprehenderit consequuntur fugit unde dolore suscipit minus, voluptate possimus? Quia eum asperiores
        laudantium ipsa distinctio, amet illo tenetur, fugiat, eveniet vero libero iusto maiores a quibusdam perferendis
        optio dolores consectetur. Vitae inventore sunt nihil iste molestias porro cupiditate necessitatibus nobis eius
        eligendi quas ullam eaque illum earum, a laudantium quaerat unde quia, qui quae, placeat exercitationem aut!
        Accusantium earum aperiam necessitatibus dignissimos facere in saepe? Pariatur ad recusandae natus. Facere neque
        vero aliquam in voluptas eum blanditiis laboriosam? Magnam id ad eum libero quas quo ratione natus hic! Amet
        possimus culpa non, eos ea ex suscipit ad eligendi animi nemo veritatis adipisci enim eum repellendus obcaecati?
        Perferendis, nihil optio. Cum molestias culpa animi possimus neque odit enim, at nesciunt explicabo, ab rerum,
        autem distinctio aspernatur nisi voluptatem! Totam, dolores!</p>
        <h1><%= 10*2%></h1>
        <h3><%= "vaibhavgoswami".toUpperCase()%></h3>
        <h4><%= [1,2,3][1] %></h4>
</body>

</html>