<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            color: rgb(255, 0, 0);
            font-family: Arial, Helvetica, sans-serif;
            font-size: larger;
        }
    </style>
</head>

<body>
    <h3>Data not found</h3>
    <%- include("includes/footer.ejs") %>

</body>

</html>