<%- include("includes/head.ejs") %>

<body>
    <h1>
        Dice Value:
        <%= diceVal %>

    </h1>

    <!-- if statement -->
    <% if(diceVal==6){ %>
        <h2>Nice roll again.</h2>
        <% } %>

        <%- include("includes/footer.ejs") %>

</body>

</html>