<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Posts</title>
 <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <h1>Quora Posts</h1>
  <% for(post of posts){ %>
    <div class="post">
      <h2 class="username" >
        @<%= post.username %>
      </h2>
      <h4 class="content">
        <%= post.content%>
      </h4>
    </div>
    <% } %>


  <a href="/posts/new" type="buttton">new post</a>

    <script src="/js/app.js"></script>
</body>

</html>