<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new Post</title>
</head>
<body>
    <form action="/posts" method="post">
        <input type="text" placeholder="Enter username" name="username" required>
        <br><br>
        <textarea name="content" placeholder="Write your post" id="" required></textarea><br>
        <button type="submit">submit post</button>
    </form>
</body>
</html>